<!-- nav.html -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/nav.css') }}">

<ul>
    {% if user.role == "Teacher" %}
        <li><a href="{{ url_for('teacher_dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="{{ url_for('course') }}"><i class="fas fa-book"></i> Courses</a></li>
        <li><a href="#"><i class="fas fa-users"></i> Students</a></li>
        <li><a href="#"><i class="fas fa-file-alt"></i> Assignments</a></li>
        <li><a href="#"><i class="fas fa-chart-line"></i> Analytics</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
    {% else %}
        <li><a href="{{ url_for('student_dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li><a href="{{ url_for('course') }}"><i class="fas fa-book"></i> Courses</a></li>
        <li><a href="#"><i class="fas fa-users"></i> Students</a></li>
        <li><a href="#"><i class="fas fa-file-alt"></i> Assignments</a></li>
        <li><a href="#"><i class="fas fa-chart-line"></i> Analytics</a></li>
        <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
    {% endif %}
</ul>
