{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/modules.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/modal_form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/course.css') }}">

<a href="{{url_for('course')}}" class="arrow"> &larr; back</a>

    {% if user.role == "Teacher" %}
        <h1> {{ course.title }}</h1>

       <!-- Toggle for course Published/Draft status -->
        <label class="switch">
            {% if course.status == "Published" %}
            <a href="{{url_for('toggle_course_status', course_id=course.id)}}" class="published">
                <button>{{ course.status }}</button>
            </a>
            {% else %}
             <a href="{{url_for('toggle_course_status', course_id=course.id)}}" class="draft">
                <button>{{ course.status }}</button>
            </a>
            {% endif %}
        </label>
        
        <button class="tablink" onclick="openPage('Home', this, 'darkgoldenrod')" id="defaultOpen">Manage</button>
        <button class="tablink" onclick="openPage('News', this, 'darkgoldenrod')">Settings</button>
        <button onclick="opencourseForm()" class="open-btn">&plus;</button>
        <!-- Delete Selected Units Button (Initially Hidden) -->
        <button class="delete-btn" onclick="deleteSelectedUnits()" style="display: none;">&#128465;</button>

        <div id="Home" class="tabcontent">
            {% if modules %}
                
            {% for module in modules %}
            <div class="module-card">
                <div class="accordion-container">
                    <button class="accordion">{{ module.title }}</button>
                    <button class="add-u" onclick="openContent(this)" data="{{ module.id }}">&plus;</button>
                    <button class="add-u">
                        <a href="{{url_for('delete_module', course_id=course.id, module_id=module.id)}}">&#128465;</a>
                    </button>
                </div>
                {% if module.units %}
                    {% for unit in module.units %}
                        <div class="panel" > 
                            <input type="checkbox" class="unit-checkbox" value="{{ unit.id }}" style="display: block;" onchange="toggleDeleteButton()">
                            <div class="main-panel" onclick="location.href='{{ url_for('content_page', unit_id=unit.id) }}'">
                                <li>{{ unit.title }}</li>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="panel">
                        <div class="main-panel">
                            <p>No units available for this module.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            
            <!-- Modal Structure -->
            <section id="contentModal" class="modal">
                <div class="modal_content">
                    <button type="button" onclick="closeModals()" class="close-btn">&times;</button>
                    <h2>Create Educational Content</h2>
                    <form id="contentForm" action="{{ url_for('add_unit', course_id=course.id, module_id=module.id) }}" method="POST" enctype="multipart/form-data">
                        <label for="title">Title</label>
                        <input type="text" placeholder="Enter title" name="title" required>
                        <label for="id">Module ID</label>
                        <input type="text" value="{{ module.id }}" name="id" readonly>
                        <label for="content_type">Content Type:</label>
                        <select id="content_type" name="content_type" required onchange="toggleContentOptions()">
                            <option value="page">Page</option>
                            <option value="video">Video</option>
                        </select>
            
                        <!-- For Page Content -->
                        <div id="pageOptions" class="hidden">
                            <p>Select "Page" to create a content page.</p>
                        </div>
            
                        <!-- For Video Content -->
                        <div id="videoOptions" class="hidden">
                            <label for="video_file">Upload Video:</label>
                            <input type="file" id="video_file" name="video_file" accept="video/*" />
                        </div>
            
                        <button type="submit" class="modal_button">Save Content</button>
                    </form>
                </div>
            </section>
        {% endfor %}

        {% else %}
            <p>You can add modules by clicking on the plus icon above.</p>
        {% endif %}

        </div>

        <div id="News" class="tabcontent">
          <div>
            <a href="#">
                <img src="https://via.placeholder.com/250x150" alt="course-image" class="course-image">&#x270E;
            </a>
          </div>
        </div>

        <section id="modals-Content" class="modal">
            <div class="modal_content" >
                <button type="button" onclick="closeCourse()" class="close-btn">&times;</button>
                <h2>Add New Module</h2>
                <form action="{{url_for('course_view', course_id=course.id)}}" method="POST">
                    <label for="title" class="form-label">Module Title</label>
                    <input type="text" id="title" name="title" required placeholder="Enter the module title">
                
                    <button type="submit" class="btn btn-primary form-btn modal_button">New Model</button>
                </form>
            </div>
        </section>

    {% else %}
    <h1> {{ course.title }}</h1>

        <div id="" class="">
            {% if modules %}
                
            {% for module in modules %}
            <div class="module-card">
                <div class="accordion-container">
                    <button class="accordion">{{ module.title }}</button>
                </div>
                {% if module.units %}
                    {% for unit in module.units %}
                    <div class="panel">
                        <div class="main-panel">
                            <a href="{{url_for('content_page', unit_id=unit.id)}}">
                            <li>{{ unit.title }}</li>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="panel">
                        <div class="main-panel">
                            <p>No units available for this module.</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endfor %}

        {% else %}
            <p>You can add modules by clicking on the plus icon above.</p>
        {% endif %}
        </div>
    {% endif %}
    <script src="{{ url_for('static', filename='script/modules.js') }}"></script>
    <script src="{{ url_for('static', filename='script/course.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}