{% extends 'base.html' %}

{% block content %}
<section id="analytics" class="analytics_card">
    <h2>Analytics Report</h2>
    <div>
    </div>
</section>
<section id="draft" class="courses">
    <h2> Courses in Draft</h2>
    {% if d_courses %}
    <ul>
        {% for course in d_courses %}
            <li>
                <strong>{{ course.title }}</strong><br>
                <em>{{ course.description }}</em><br>
                Status: {{ course.status }}<br>
                <a href="#">Edit Course</a>
            </li>
        {% endfor %}
    </ul>
        {% else %}
            <p>No draft courses found.</p>
        {% endif %}
</section>
{% endblock %}